@media screen and (min-width: 992px) {

  body {
    font: 17px $primary-font;
  }

  #header {
    .logo {
      line-height: 2.23em;
    }

    .search {
      input {
        line-height: 3em;
      }

      .button {
        line-height: 3.1em;
      }
    }
    .category-nav {

      .hide1,
      .hide2 {
        display: block;
      }

      .dropdown-hide1,
      .dropdown-hide2 {
        display: none;
      }
    }
  }

  .slider-section {
    .content-slide {
      bottom: 40px;

      .flex-container {

        h2 {
          font-size: 2.4em;
        }
      }
    }

    .photo-wrapper {
      max-width: 135px;
      max-height: 135px;
    }
  }

  .subscribe-section {
    padding: 95px 0 130px;

    #mc-embedded-subscribe-form {
      width: 35%;
    }
  }

  #footer {
    padding: 80px 0 160px;
  }

}
