$primary-font: 'PT Serif', serif;
$secondary-font: 'PT Sans', sans-serif;;

@import "reset";

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNova-Regular.woff") format("woff"),
  url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font: 13px $primary-font;
  color: #000000;
}

.category {
  position: absolute;
  left: 0;
  bottom: 25px;
  display: inline-block;
  padding: 0 1.2em;
  font: bold 1em/2.4em $secondary-font;
  color: #ffffff;

  &.category-trips {
    background-color: #d90445;
  }
  &.category-tech {
    background-color: #000000;
  }
  &.category-nature {
    background-color: #58b600;
  }
  &.category-people {
    background-color: #1a54e7;
  }
  &.category-fashion {
    background-color: #8200b2;
  }

  &:hover {
    color: #ffffff;
    text-decoration: none;
    transform: scale(1.1, 1.1);
  }

}

article {
  .img-wrapper {
    position: relative;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: auto;
    }

  }

  h2 {
    margin-bottom: 10px;
  }
}

.info-article {
  font: 0.75em $secondary-font;


  data {
    color: #b0b0b0;

    &:after {
      content: "|";
      margin-left: 10px;
    }
  }

  .link-author {
    padding-left: 10px;
    color: #1a54e7;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: #47c8e6;
    }
  }
}

//---------------------------HEADER------------------------
#header {
  font-family: $secondary-font;
  background-image: linear-gradient(to right, #1a54e7 22%, #ffffff 22%, #ffffff 100%);

  .nav-wrapper {
    margin: 0;
    background: transparent;
    border: none;
    box-shadow: none;

    .mob-menu-button {
      background-color: #ffffff;

      &:focus,
      &:hover,
      .active {
        background-color: #ffffff;;
        box-shadow: 0 0 8px #1a54e7;
      }
    }
  }

  .mob-navbar {
    background-color: #ffffff;
  }

  .logo {
    display: inline-block;
    padding: 5px 1em;
    font: 1.4em/2.2em $secondary-font;
    color: #ffffff;
    background-color: #1a54e7;

    span {
      font-weight: bold;
    }

    a {
      color: inherit;
    }

    &:hover {
      a {
        color: #c5faff;
        text-decoration: none;
      }
    }
  }

  .search {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;

    input {
      position: absolute;
      z-index: -1;
      top:0;
      width: 0;
      padding: 0;
      transition: all 0.7s ease-in-out;
      line-height: 2.85em;
      border: 1px solid #b2b2b2;
      border-radius: 0;
    }

   &:hover input,
   input:focus {
     z-index: 2;
     width: 220px;
     margin-left: 0;
     padding: 0 10px;
    }

    .button {
      padding: 0 0.6em;
      line-height: 3em;
      color: #b2b2b2;
      background-color: #f6f6f6;
      border: 0;
      border-radius: 0;

      &:hover {
        color: #a2a2a2;
        background-color: #d8d8d8;
      }
    }
  }

  .collapsing {
    position: absolute;
    top: 50px;
    left: 15px;
    right: 15px;
    z-index: 1;
    background-color: #ffffff;
  }

  .collapse.in {
    position: absolute;
    top: 50px;
    left: 15px;
    right: 15px;
    z-index: 1;
    background-color: #ffffff;
  }

  .main-nav {
    margin-left: 0;
    color: #b2b2b2;
    a {
      color: inherit;
      border-bottom: 3px solid transparent;

      &.active,
      &:hover {
        color: #a2a2a2;
        border-bottom: 3px solid #a2a2a2;
      }
    }
  }

  .category-nav {
    color: #1a54e7;

    .hide-category {
      display: none;
    }

    a {
      color: inherit;
      border-bottom: 3px solid transparent;

      &.active,
      &:hover {
        border-bottom: 3px solid #1a54e7;
      }
    }

    .icon-point {
      display: inline-block;
      width: 6px;
      height: 6px;
      background-color: #1a54e7;
      border-radius: 50%;

    }
  }
}

//---------------------------SLIDER-SECTION------------------------
.slider-section {

  .item {
    overflow: hidden;
    height: 250px;

    > img {
      filter: brightness(60%);
      max-width: 1000px;
      width: auto;
      height: 100%;
      transform: translateX(-20%);

    }
  }

  .content-slide {
    top: 10px;
    right: 0;
    left: 0;
    bottom: 10px;
    padding: 0;

    .flex-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .top-caption {
        margin: 0 0 auto;
      }

      h2 {
        width: 80%;
        margin: 0 auto;
        font-size: 1.4em;

        a {
          color: inherit;
        }
      }
    }
  }

  .bottom-caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .category {
      position: static;
    }
  }

  .photo-wrapper {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 10px;
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
  }

  .slider-nav {
    background-color: transparent;
    width: 5%;

    .fa {
      padding: 0 20px;
      color: #030303;
      font-size: 30px;
      line-height: 50px;
    }

    .slider-nav-right,
    .slider-nav-left {
      width: auto;
      height: auto;
      background-color: #ffffff;

      &:before {
        content: "";
     }
    }

    .slider-nav-right {
      right: 0;
      margin-right: 0;
    }

    .slider-nav-left {
      left: 0;
      margin-left: 0;
    }
  }
}

//---------------------------POPULAR-ARTICLES------------------------
.popular-articles {
  padding: 20px 0 10px;
  background-color: #f6f6f6;

  article {
    margin-bottom: 30px;

    h2 {
      font-size: 1.4em;

      a {
        color: inherit;
      }
    }
  }
}

//---------------------------LAST-ARTICLES------------------------
.last-articles {
  padding: 35px 0 10px;


  .title-article {
    position: relative;
    height: 200px;
    margin-bottom: 30px;
    overflow: hidden;

    img {
      width: auto;
      height: 100%;
      transform: translateX(-25%);

    }

    .caption-article {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      color: #ffffff;

      h2{
        font-size: 1.9em;
        text-align: center;

        a {
          color: inherit;
        }
      }

      p {
        width: 90%;
        margin: 0 auto 25px;
        line-height: 1.6em;
        text-align: center;

        a {
          color: inherit;
        }
      }

      .bottom-caption {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .category-trips {
          position: static;
        }

        .info-article {
          margin-right: 20px;
        }
      }
    }
  }

  h2 {
    a {
      color: inherit;
    }
  }

  li {
    margin-bottom: 30px;
  }
}


//---------------------------SUBSCRIBE-SECTION------------------------
.subscribe-section {
  padding: 30px 0 50px;
  text-align: center;
  color: #ffffff;
  background: url(../img/bg-sabcribe.jpg) 50% 50% no-repeat;
  background-size: cover;

  h1 {
    font-size: 2.7em;
  }

  p {
    margin-bottom: 20px;
    font-size: 1.4em;
    color: #8baeff;
  }

  #mc-embedded-subscribe-form {
    position: relative;
    width: 100%;
    margin: 0 auto;
    line-height: 2.8em;

    .email {
      width: 100%;
      padding: 0 9em 0 2em;
      background-color: #2c6cff;
      border-radius: 30px;
      border: 0;
    }

    .button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 2em;
      color: #1a54e7;
      font: bold 1em/2.8em $secondary-font;
      background-color: #ffffff;
      border-radius: 30px;
      border: 0;

      &:hover {
       border: 1px solid #ffffff;
       background-color: transparent;
       color: #ffffff;
      }
    }

  }
}

//-----------------------FOOTER-----------------
#footer {
  padding: 30px 0 40px;
  font-family: 'ProximaNova';
  text-align: center;
  color: #a7acbc;
  background-color: #ffffff;

  p {
    margin-bottom: 10px;
    line-height: 1.4em;
  }

  a {
    color: inherit;
    font-weight: bold;
  }
}

@import "media768";
@import "media992";
@import "media1200";
