html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a {
  text-decoration: none;
  cursor: pointer; }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  font: 13px "PT Serif", serif;
  color: #000000; }

.category {
  position: absolute;
  left: 0;
  bottom: 25px;
  display: inline-block;
  padding: 0 1.2em;
  font: bold 1em/2.4em "PT Sans", sans-serif;
  color: #ffffff; }
  .category.category-trips {
    background-color: #d90445; }
  .category.category-tech {
    background-color: #000000; }
  .category.category-nature {
    background-color: #58b600; }
  .category.category-people {
    background-color: #1a54e7; }
  .category.category-fashion {
    background-color: #8200b2; }
  .category:hover {
    color: #ffffff;
    text-decoration: none;
    -webkit-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }

article .img-wrapper {
  position: relative;
  margin-bottom: 10px; }
  article .img-wrapper img {
    width: 100%;
    height: auto; }

article h2 {
  margin-bottom: 10px; }

.info-article {
  font: 0.75em "PT Sans", sans-serif; }
  .info-article data {
    color: #b0b0b0; }
    .info-article data:after {
      content: "|";
      margin-left: 10px; }
  .info-article .link-author {
    padding-left: 10px;
    color: #1a54e7;
    text-decoration: underline; }
    .info-article .link-author:hover {
      text-decoration: none;
      color: #47c8e6; }

#header {
  font-family: "PT Sans", sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(22%, #1a54e7), color-stop(22%, #ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #1a54e7 22%, #ffffff 22%, #ffffff 100%);
  background-image: linear-gradient(to right, #1a54e7 22%, #ffffff 22%, #ffffff 100%); }
  #header .nav-wrapper {
    margin: 0;
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
    #header .nav-wrapper .mob-menu-button {
      background-color: #ffffff; }
      #header .nav-wrapper .mob-menu-button:focus, #header .nav-wrapper .mob-menu-button:hover,
      #header .nav-wrapper .mob-menu-button .active {
        background-color: #ffffff;
        -webkit-box-shadow: 0 0 8px #1a54e7;
                box-shadow: 0 0 8px #1a54e7; }
  #header .mob-navbar {
    background-color: #ffffff; }
  #header .logo {
    display: inline-block;
    padding: 5px 1em;
    font: 1.4em/2.2em "PT Sans", sans-serif;
    color: #ffffff;
    background-color: #1a54e7; }
    #header .logo span {
      font-weight: bold; }
    #header .logo a {
      color: inherit; }
    #header .logo:hover a {
      color: #c5faff;
      text-decoration: none; }
  #header .search {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0; }
    #header .search input {
      position: absolute;
      z-index: -1;
      top: 0;
      width: 0;
      padding: 0;
      -webkit-transition: all 0.7s ease-in-out;
      transition: all 0.7s ease-in-out;
      line-height: 2.85em;
      border: 1px solid #b2b2b2;
      -webkit-border-radius: 0;
              border-radius: 0; }
    #header .search:hover input,
    #header .search input:focus {
      z-index: 2;
      width: 220px;
      margin-left: 0;
      padding: 0 10px; }
    #header .search .button {
      padding: 0 0.6em;
      line-height: 3em;
      color: #b2b2b2;
      background-color: #f6f6f6;
      border: 0;
      -webkit-border-radius: 0;
              border-radius: 0; }
      #header .search .button:hover {
        color: #a2a2a2;
        background-color: #d8d8d8; }
  #header .collapsing {
    position: absolute;
    top: 50px;
    left: 15px;
    right: 15px;
    z-index: 1;
    background-color: #ffffff; }
  #header .collapse.in {
    position: absolute;
    top: 50px;
    left: 15px;
    right: 15px;
    z-index: 1;
    background-color: #ffffff; }
  #header .main-nav {
    margin-left: 0;
    color: #b2b2b2; }
    #header .main-nav a {
      color: inherit;
      border-bottom: 3px solid transparent; }
      #header .main-nav a.active, #header .main-nav a:hover {
        color: #a2a2a2;
        border-bottom: 3px solid #a2a2a2; }
  #header .category-nav {
    color: #1a54e7; }
    #header .category-nav .hide-category {
      display: none; }
    #header .category-nav a {
      color: inherit;
      border-bottom: 3px solid transparent; }
      #header .category-nav a.active, #header .category-nav a:hover {
        border-bottom: 3px solid #1a54e7; }
    #header .category-nav .icon-point {
      display: inline-block;
      width: 6px;
      height: 6px;
      background-color: #1a54e7;
      -webkit-border-radius: 50%;
              border-radius: 50%; }

.slider-section .item {
  overflow: hidden;
  height: 250px; }
  .slider-section .item > img {
    -webkit-filter: brightness(60%);
            filter: brightness(60%);
    max-width: 1000px;
    width: auto;
    height: 100%;
    -webkit-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
            transform: translateX(-20%); }

.slider-section .content-slide {
  top: 10px;
  right: 0;
  left: 0;
  bottom: 10px;
  padding: 0; }
  .slider-section .content-slide .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
    .slider-section .content-slide .flex-container .top-caption {
      margin: 0 0 auto; }
    .slider-section .content-slide .flex-container h2 {
      width: 80%;
      margin: 0 auto;
      font-size: 1.4em; }
      .slider-section .content-slide .flex-container h2 a {
        color: inherit; }

.slider-section .bottom-caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  .slider-section .bottom-caption .category {
    position: static; }

.slider-section .photo-wrapper {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 10px;
  max-width: 70px;
  max-height: 70px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.slider-section .slider-nav {
  background-color: transparent;
  width: 5%; }
  .slider-section .slider-nav .fa {
    padding: 0 20px;
    color: #030303;
    font-size: 30px;
    line-height: 50px; }
  .slider-section .slider-nav .slider-nav-right,
  .slider-section .slider-nav .slider-nav-left {
    width: auto;
    height: auto;
    background-color: #ffffff; }
    .slider-section .slider-nav .slider-nav-right:before,
    .slider-section .slider-nav .slider-nav-left:before {
      content: ""; }
  .slider-section .slider-nav .slider-nav-right {
    right: 0;
    margin-right: 0; }
  .slider-section .slider-nav .slider-nav-left {
    left: 0;
    margin-left: 0; }

.popular-articles {
  padding: 20px 0 10px;
  background-color: #f6f6f6; }
  .popular-articles article {
    margin-bottom: 30px; }
    .popular-articles article h2 {
      font-size: 1.4em; }
      .popular-articles article h2 a {
        color: inherit; }

.last-articles {
  padding: 35px 0 10px; }
  .last-articles .title-article {
    position: relative;
    height: 200px;
    margin-bottom: 30px;
    overflow: hidden; }
    .last-articles .title-article img {
      width: auto;
      height: 100%;
      -webkit-transform: translateX(-25%);
          -ms-transform: translateX(-25%);
              transform: translateX(-25%); }
    .last-articles .title-article .caption-article {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      color: #ffffff; }
      .last-articles .title-article .caption-article h2 {
        font-size: 1.9em;
        text-align: center; }
        .last-articles .title-article .caption-article h2 a {
          color: inherit; }
      .last-articles .title-article .caption-article p {
        width: 90%;
        margin: 0 auto 25px;
        line-height: 1.6em;
        text-align: center; }
        .last-articles .title-article .caption-article p a {
          color: inherit; }
      .last-articles .title-article .caption-article .bottom-caption {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%; }
        .last-articles .title-article .caption-article .bottom-caption .category-trips {
          position: static; }
        .last-articles .title-article .caption-article .bottom-caption .info-article {
          margin-right: 20px; }
  .last-articles h2 a {
    color: inherit; }
  .last-articles li {
    margin-bottom: 30px; }

.subscribe-section {
  padding: 30px 0 50px;
  text-align: center;
  color: #ffffff;
  background: url(../img/bg-sabcribe.jpg) 50% 50% no-repeat;
  background-size: cover; }
  .subscribe-section h1 {
    font-size: 2.7em; }
  .subscribe-section p {
    margin-bottom: 20px;
    font-size: 1.4em;
    color: #8baeff; }
  .subscribe-section #mc-embedded-subscribe-form {
    position: relative;
    width: 100%;
    margin: 0 auto;
    line-height: 2.8em; }
    .subscribe-section #mc-embedded-subscribe-form .email {
      width: 100%;
      padding: 0 9em 0 2em;
      background-color: #2c6cff;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      border: 0; }
    .subscribe-section #mc-embedded-subscribe-form .button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 2em;
      color: #1a54e7;
      font: bold 1em/2.8em "PT Sans", sans-serif;
      background-color: #ffffff;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      border: 0; }
      .subscribe-section #mc-embedded-subscribe-form .button:hover {
        border: 1px solid #ffffff;
        background-color: transparent;
        color: #ffffff; }

#footer {
  padding: 30px 0 40px;
  font-family: 'ProximaNova';
  text-align: center;
  color: #a7acbc;
  background-color: #ffffff; }
  #footer p {
    margin-bottom: 10px;
    line-height: 1.4em; }
  #footer a {
    color: inherit;
    font-weight: bold; }

@media screen and (min-width: 768px) {
  body {
    font: 15px "PT Serif", serif; }
  article .img-wrapper {
    margin-bottom: 20px; }
  article h2 {
    margin-bottom: 20px; }
  #header .logo {
    padding: 0;
    padding-right: 1.5em;
    line-height: 2.5em; }
  #header .search {
    float: left; }
    #header .search input {
      line-height: 3.4em; }
    #header .search .button {
      line-height: 3.5em; }
  .slider-section .item {
    height: auto; }
    .slider-section .item img {
      max-width: 100%;
      width: auto;
      height: auto;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); }
  .slider-section .content-slide {
    top: 20px;
    bottom: 20px; }
    .slider-section .content-slide .flex-container h2 {
      font-size: 2em; }
  .slider-section .photo-wrapper {
    max-width: 100px;
    max-height: 100px; }
  .popular-articles {
    padding: 30px 0 50px; }
    .popular-articles article {
      margin-bottom: 0; }
  .last-articles {
    padding: 45px 0 30px; }
    .last-articles .title-article {
      margin-bottom: 50px;
      height: auto; }
      .last-articles .title-article img {
        max-width: 100%;
        width: auto;
        height: auto;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0); }
      .last-articles .title-article .caption-article {
        bottom: 25px; }
        .last-articles .title-article .caption-article h2 {
          font-size: 2.7em;
          margin: 0; }
        .last-articles .title-article .caption-article p {
          width: 60%;
          line-height: 1.8em; }
    .last-articles li {
      margin-bottom: 60px; }
  .subscribe-section {
    padding: 55px 0 70px; }
    .subscribe-section p {
      margin-bottom: 40px; }
    .subscribe-section #mc-embedded-subscribe-form {
      width: 45%; }
  #footer {
    padding: 60px 0 80px; }
    #footer p {
      margin-bottom: 20px; } }

@media screen and (min-width: 992px) {
  body {
    font: 17px "PT Serif", serif; }
  #header .logo {
    line-height: 2.23em; }
  #header .search input {
    line-height: 3em; }
  #header .search .button {
    line-height: 3.1em; }
  #header .category-nav .hide1,
  #header .category-nav .hide2 {
    display: block; }
  #header .category-nav .dropdown-hide1,
  #header .category-nav .dropdown-hide2 {
    display: none; }
  .slider-section .content-slide {
    bottom: 40px; }
    .slider-section .content-slide .flex-container h2 {
      font-size: 2.4em; }
  .slider-section .photo-wrapper {
    max-width: 135px;
    max-height: 135px; }
  .subscribe-section {
    padding: 95px 0 130px; }
    .subscribe-section #mc-embedded-subscribe-form {
      width: 35%; }
  #footer {
    padding: 80px 0 160px; } }

@media screen and (min-width: 1200px) {
  body {
    font: 18px "PT Serif", serif; }
  #header .logo {
    line-height: 2.1em; }
  #header .search input {
    line-height: 2.85em; }
  #header .search .button {
    line-height: 2.95em; }
  #header .category-nav .hide3 {
    display: block; }
  #header .category-nav .dropdown-hide3 {
    display: none; }
  .slider-section .content-slide {
    top: 60px; }
    .slider-section .content-slide .flex-container h2 {
      font-size: 2.7em; } }

@media screen and (min-width: 1400px) {
  .slider-section .content-slide {
    top: 180px; } }
